
/* || Carousel */

.carousel, 
.about, 
.why {
    display: flex; /* Turns grid items into flex containers */
    justify-content: flex-end;
}
.carousel {
    /* this places the carousel at the right side of the grid inherited from parent container */
    grid-column: 3 / span 2;
    grid-row: 2 / span 2;
    flex-direction: column;  /* Carousel slides in single column */
} 
.about, 
.why {
    flex-direction: column-reverse; /* Puts titles after text */
    margin-top: 70px;  /* Prevents carousel text from overlaping h1 and navbar */
}
.surname {
    
    flex-grow: 1; /* Surname slide size equals "main" height to allow background image */
    background-image: url(../images/hi-tom-hanks-forrest-gump.gif); 
    background-position: center;
    background-size: 80%;
    background-repeat: no-repeat;
    display: grid;  /* Will allow title to be positioned at the bottom right */
}
h2 {
    align-self: end; /* Places h2 at right bottom corner */
}
.d-none {
    
    display: none; /* Hides slides in the carousel */
}
.arrow,
.loop {
    cursor: pointer;
    color: var(--accentcolor); /* Change arrows to green */
    justify-self: start; /* Places arrows at the beginning of their grid area */
    background-color: var(--background); /* Covers purple border */
    z-index: 1; /* Buttons appear on top of other elements */
}
.arrow i {
    font-size: 3rem; /* Sets size of arrow icons */
}
.loop i {
    
    font-size: 2rem; /*  Automated loop pause/play buttons are smaller then arrow buttons */
}
.next {
    /* Places foward arrow on main grid layout */
    grid-column: 5 / span 1;
    grid-row: 2 / span 1;
    margin-left: -15px; /* Aligns foward arrow with line of purple border */
}
.back {
    /* Places back arrow on main grid layout */
    grid-column: 3 / span 2;
    grid-row: 2 / span 1;
    margin-left: -25px; /* Aligns back arrow with line of purple border */
}
.arrow {
    align-self: end; /* Places arrows at the bottom of their grid area */
}

.loop {
    /* Places play/pause buttons in the main grid layout */
    grid-column: 5 / span 1;
    grid-row: 3 / span 1;
    align-self: start; /* Places buttons at the beginning of their grid area */
    margin-left: -15px; /* Aligns buttons with line of purple border  */
    padding-bottom: .5rem;
    padding-top: .5rem;
}

/* || Specific styles */

.subtitles {
    text-align: right; /* Aligns h2 and h3 to the right */
}
.topic {
    font-weight: bold; /* Makes inner topics of about and why font bolder than content */
    color: var(--mutecolor); /* Makes inner topics of about and why lighter than content */
    font-size: 1.1rem; /* Makes inner topics of about and why bigger than content */
}
.p {
    padding-top: var(--spacing); /* Adds space between paragraphs */
}
.content {
    margin: var(--doubleborder); /* Adds space between content and purple border */
    text-align: justify; /* Content followys box-like design */
}
.content > ul > li::before {
    content: ". ";  /*  Adds . before each list item of about slide */
}

/* || Media querie */

/* For narrow screens */
@media only screen 
    and (max-width: 600px) {
    .arrow {
        margin-left: -13px; /* Aligns arrows with line of purple border */
    }
    .arrow i {
        font-size: 2rem; /* Makes arrow buttons smaller */
    }
    .loop i {
        font-size: 1.5rem; /* Makes play/pause buttons smaller */
    }
}

/* Tweak points for screens up to 140px */
@media screen and (max-width: 1040px) {
    .carousel,
    .back {
        grid-column: 2 / span 3;  /* Moves carousel from rigth to bottom of main layout */
    }
}

/* Twaek points for mobile in landscape orientation mode */

@media only screen 
    and (max-width: 900px) 
    and (orientation: landscape) {
    .surname {
        background-size: 40%;
    }
}