
/* || Carousel */

.carousel, 
.about, 
.why {
    /* Turns grid items into flex containers */
    display: flex;
    justify-content: flex-end;
    /* Aligns titles and text to the right  */
    text-align: right;
}

.carousel {
    /* this places the carousel at the right side of the grid inherited from parent container */
    grid-column: 3 / span 2;
    grid-row: 2 / span 2;
    /* Carousel slides in single column */
    flex-direction: column;
} 
.about, 
.why {
    /* This puts titles after text */
    flex-direction: column-reverse;
    /* Prevents from overlaping h1 */
    margin-top: 100px;
    /* Text overflow appears over nac background */
    z-index: 1;
}
.surname {
    /* Surname slide size equals "main" height */
    flex-grow: 1;
    /* Will allow title to be positioned at the bottom right */
    display: grid;
}
h2 {
    align-self: end;
}

.d-none {
    /* Class used to hide slides in the carousel */
    display: none;
}

.slide p {
    padding: var(--spacing);
}
.controlers {
    color: var(--accentcolor);
    cursor: pointer;
    z-index: 10;
}

.arrow i {
    font-size: 3rem;
}
.loop i {
    font-size: 2rem;
}
.arrow,
.loop {
    justify-self: start;
    background-color: var(--background);
    z-index: 1;
}
.next {
    grid-column: 5 / span 1;
    grid-row: 2 / span 1;
    margin-left: -15px;
}
.back {
    grid-column: 3 / span 2;
    grid-row: 2 / span 1;
    margin-left: -25px;
}
.arrow {
    align-self: end;
}

.loop {
    grid-column: 5 / span 1;
    grid-row: 3 / span 1;
    align-self: start;
    margin-left: -15px;
    padding-bottom: .5rem;
    padding-top: .5rem;
}

@media screen and (max-width: 600px) {
    .arrow {
        margin-left: -13px;
    }
    .arrow i {
        font-size: 2rem;
    }
    .loop i {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 725px) {
    .carousel,
    .back {
        grid-column: 2 / span 3;
    }
    .surname {
        background-image: url(../images/hi-tom-hanks-forrest-gump.gif); 
        background-position: center;
        background-size: 80%;
        background-repeat: no-repeat;
    }
}

