:root {
    --mainborder: 10px;
    --doubleborder: 20px;
    --spacing: .3rem;
    --basecolor: #8000ff;
    --accentcolor: #00ff80; 
    --mutecolor: #f5ebff;
    --secondarymute: #d8b1ff;
    --background: #fcfcfc;
}

* {
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: var(--basecolor);
}
html {
    font-family: 'Hind', helvetica, san-serif;
    color: var(--basecolor);
    background: var(--background);
}