:root {
    --mainborder: 10px;
    --spacing: .3rem;
    --basecolor: black;
    --accentcolor: BlueViolet;
    --secondaccentcolor: SpringGreen;
}

* {
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: var(--accentcolor);
}
html {
    font-family: 'Hind', helvetica, san-serif;
    color: var(--accentcolor);
}