
/* || General layout set up */

.outerlayout {
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100); /* Viewport height fix for mobile (see js main file for more) */
    /* Landing page is a flex column with main section and footer */
    display: flex; 
    flex-direction: column;
    align-items: center;
    padding: var(--mainborder);
}
.main {
    width: 100vw;
    justify-content: center;
    flex-grow: 1; /* Ensures main section takes up empty space on the page */
    display: grid; /* Sets the grid of main section  */
    grid-template-columns: 5vw 1fr var(--mainborder) 1fr 5vw;
    grid-template-rows: 10vh 1fr 1fr 10vh;
}
.left,
.carousel {
    border: var(--mainborder) solid var(--basecolor); /* Sets the purpler border of layout */
}
.left {
    /* Places left on half left of the main grid */
    grid-column: 2 / span 2;
    grid-row: 2 / span 1;
    border-bottom: none; /* Removes border from bottom of element */
}
.carousel {
    border-top: none; /* Removes border from top of element */
}
.crumbs {
    /* Places navbar on top right corner of main grid */
    grid-column: 4 / span 1;
    grid-row: 2 / span 1;
    display: flex;
    align-items: flex-end;
    writing-mode: vertical-lr; /* Rotates elements to vertical position */
    border-right: solid var(--background) 12px; /* Covers purple border on rigth side of main grid */
    margin-right: -1px; /* This prevents purple border from appearing underneath .crumbs */
}
.portfolio {
    grid-column: 2 / span 2;
    grid-row: 3 / span 1;
    justify-content: flex-end;
    writing-mode: vertical-lr; /* Rotates elements to vertical position */
    transform: rotate(180deg); /* Rotates elements so they read from bottom to top */
}

/* || General styles */

.title,
.subtitles {
    text-transform: uppercase;
    font-size: calc(2rem + 3vw); /* H1, h2 and h3 size vary according to viewport width */
    font-weight: bold;
    padding: var(--mainborder) var(--mainborder) 0 var(--mainborder); /* H1, h2 and h3 have the same distance from purple border */
}
h3 {
    color: var(--mutecolor);
}
.crumbs,
.portfolio {
    padding: var(--mainborder); /* Links at bottom left and navbar at top right have the same distance from main grid corners */
}
.crumb, 
.portfolio {
    display: flex; /* Links at the bottom left and navbar at top right are flex to appear as list */
    flex-direction: column;
}
.crumb {
    padding: var(--spacing);
    color: var(--accentcolor); /* Navbar items accentcolor, unless corresponding slide is active */
    cursor: pointer;
}
.active {
    color: var(--basecolor);  /* Color of navbar elements changes to basecolor when corresponding slide is shown */
}
.icon {
    /* freeCodeCamp, GitHub and Codewars brand icons style */
    font-size: var(--largerfont);
    margin: var(--spacing); /* Adds space around external links */
    transform: rotate(-180deg);
    color: var(--basecolor);
}
.codewars {
    /* Codewars icon is a png, so width needs to be set */
    width: 1.5rem;
}
.extlink:hover {
    font-weight: bold;  /* Font changes to bold on hover */
}
.extlink:hover::after {
    /* Adds green arrows to external links on hover */
    content: " >>"; 
    color: var(--accentcolor);
}
.bold {
    font-weight: bold; /*  Hyperlink within content */
}

footer {
    text-align: center;
    margin-top: var(--mainborder);
}
footer p {
    /* Changes final line of footer to smaller size and lighter color */
    margin-top: var(--mainborder);
    font-size: var(--smallestfont);
    color: var(--secondarymute);
}

/* || Media queries */

/* Tweak points for screens up to 1040px */
@media only screen 
    and (max-width: 1040px) {
    .left {
        grid-column: 2 / span 3; /* Moves left to top of main layout */
    }
    .crumbs {
        grid-column: 4 / span 1;
        grid-row: 1 / span 1; /* Moves navbar to top right of screen */
        writing-mode: horizontal-tb; /* Rotates navbar elements back to western writing mode */
        justify-content: flex-end;
    }
    .crumb {
        padding: .1rem;
    }
    .portfolio {
        grid-column: 2 / span 3;
        grid-row: 4 / span 1; /* External links move to bottom of main layout, after carousel */
        flex-direction: row; /* Moves links from column to row */
        justify-content: center;
        writing-mode: horizontal-tb; /* Rotates links back to western writing mode */
        transform: rotate(0deg); /* Rotates links back to horizontal position */
    }
    .horizontal {
        display: flex; /* Turns elements inside external links into flex items */
        align-items: baseline; /* Aligns brand icons and text */
        margin-right: var(--spacing);
       

    }
    .icon {
        transform: rotate(0deg); /* Rotates icons back to normal */
        font-size: var(--smallestfont);
        margin: var(--mainborder) .2rem; /* Adds space around external links */
    }
    .codewars {
        width: .7rem; /* Codewars brand image smaller */
    }
}

/* Twaek points for mobile in landscape orientation mode */
@media only screen 
    and (max-width: 900px) 
    and (orientation: landscape) {
    .title,
    .subtitles {
    font-size: calc(2rem + 2vw); /* H1, h2 and h3 smaller */
    }
    .crumbs ul {
        display: flex; /* Changes navbar to row */    
    }
    footer {
        display: flex; /* Changes footer elements to same row */ 
    }
    footer a {
        /* Changes footer elements to same color and size */  
        font-size: var(--smallestfont);
        color: var(--secondarymute);
    }
    footer p {
        margin-top: 0;
    }
    footer a:after, 
    footer p:before {
        content: " | ";
    }
    
}